In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from collections import Counter
import datetime
import sys
import logging

In [44]:
sensor_df = pd.DataFrame.from_csv("../../data/database/sensor_data.csv")

In [45]:
Counter(sensor_df.TagName)

Counter({'0': 6954,
         '1': 4688,
         '2': 8866,
         '3': 10925,
         '4': 12501,
         '5': 11377,
         '6': 8355,
         '7': 7247,
         '8': 9797,
         '9': 9426,
         'Start1': 18920,
         'Start2': 18936})

In [46]:
Counter(sensor_df.tester_id)

Counter({0.0: 41582, 1.0: 31404, 2.0: 28539, 4.0: 26467})

In [34]:
sensor_df = sensor_df[sensor_df.tester_id != 3]

In [35]:
len(sensor_df)

101525

In [36]:
sensor_df.to_csv("../../data/database/sensor_data.csv")

In [42]:
t = pd.DataFrame.from_csv("../../data/database/tester_info.csv")

In [47]:
t = t.loc[:4]

In [49]:
t.to_csv("../../data/database/tester_info.csv")

In [48]:
t

,Tester_Name,Tester_Age,Tester_Height,Tester_Gender,Tester_Weight,Tester_hand,start_time,end_time
0,qm,23,157,F,47,l,2017-11-22 16:32:06.583000+08:00,2017-11-22 16:34:38.263000+08:00
1,qm,23,157,F,47,l,2017-12-19 17:34:49.638000+08:00,2017-12-19 17:37:41.407000+08:00
2,qm,23,157,F,47,l,2017-12-19 17:41:44.546000+08:00,2017-12-19 17:44:13.425000+08:00
3,qm,23,157,F,47,l,2017-12-21 18:16:32.230000+08:00,2017-12-21 18:18:59.680000+08:00
4,qm,23,157,F,47,l,2017-12-21 18:19:27.438000+08:00,2017-12-21 18:21:45.834000+08:00